{% extends 'base.html' %}
{% block 'titulo' %}Agenda de Filmes{% endblock %}
{% load static %}


{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}


{% block 'conteudo' %}
<br>
<h2>Filmes</h2>
<hr>

<div>
    <a class="btn btn-primary" href="{% url 'cadastrar_filme' %}" role="button">Novo</a>
</div>

<br>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Ano</th>
        <th scope="col">Assistido</th>
        <th scope="col">Genero</th>
        <th scope="col">Classificacao</th>
        <th scope="col">Sinopse</th>
        
      </tr>
    </thead>
    <tbody>
      {% if request.user.is_authenticated %}
        {% for mostrar in mostrar_filme %}
          
          <tr>
            <td> <a href="{% url 'filme_unico' mostrar.id %} ">{{mostrar.nome}}</td>
            <td>{{mostrar.ano}}</td>
            <td>
              {% if mostrar.assistido == True %}
              Sim
              {% else %}
              Não
              {% endif %}
            </td>
            <td>
              {{mostrar.get_genero_display}}
              
            </td>
            <td>{{mostrar.get_classificacao_display}}</td>
            <td>{{mostrar.sinopse}}</td>
            <td>
              <div class="col-auto my-1">
                <div>
                  <a class="btn btn-danger" href="{% url 'excluir_filme' mostrar.id %}" role="button">Excluir</a>
                  
                </div>


            </div>
            </td>

            <td>
              <div class="col-auto my-1">
                <div>
                  <a class="btn btn-success" href="{% url 'editar_filme' mostrar.id %}" role="button">Editar</a>
                  
                </div>

                
            </div>
            </td>
          </tr>
          
        {% endfor %}
      {% endif %}
      
    </tbody>
  </table>

  
  <div class="paginacao">
    <nav aria-label="Pages">
      <ul class="pagination">
        {% for pagina in mostrar_filme.paginator.page_range %}
          {% if mostrar_filme.number == pagina %}
          <li class="page-item active">
            <a class="page-link" href="?p={{pagina}}">{{pagina}}</a>
          </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?p={{pagina}}">{{pagina}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  <div>

{% endblock %}    